.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 3rem;
    margin-left: 10%;

    img{
        width: 80px;
        height: auto;
        margin-right: 1rem;
    }

}