.socials{
    list-style-type: none;
    padding-left: 0;
    
    .social{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .pipe{
        display: inline-block;
    }

    .social a{
        width: 100%;
        height: 100%;
    }

    .social a span{
        visibility: hidden;
    }
}